@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,700&family=Playfair+Display:wght@800&display=swap');

body{
    background-color: rgb(255, 247, 233);
    color: black;
    font: Lora;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
}

h3{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 22px;
}

p{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
}
